

/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}

/* round buttons on hover */
.rec.rec-carousel .rec.rec-arrow:hover {
    background-color: rgb(28, 130, 44);
}

/* round buttons on hover */
.rec.rec-carousel .rec.rec-arrow:focus {
    background-color: rgb(28, 130, 44);
}


/* dot active */
.rec.rec-pagination .rec.rec-dot_active {
    background-color: rgb(28, 130, 44);
    box-shadow: rgb(28, 130, 44) 0px 0px 1px 3px;;
}

